body{
    background-image: url(./resources/Porsche\ 911\ Targa\ 4S\ GTS\ Wallpapers\ _\ hdqwalls_com\ \(1\).jpeg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

}

.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}

.navigation li {
  display: inline-block;
  margin-right: 10px;
  font-size: larger;
  font-weight: bold;
}

.navigation li i {
  margin-left: 5px;
}

.navigation li a {
  text-decoration: none;
  color: #fff;
}

.navigation li a:hover {
  color: #ff0000;
}



.div1{
    text-align: center;
}
i{
    color: aliceblue;
}

.div2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .div2 div {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .div2 img {
    width: 100%;
    height: auto;
  }
  
  .hire-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .hire-button:hover {
    background-color: #45a049;
  }
  p{
    color: white;
  }

  #searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #searchButton:hover {
    background-color: #45a049;
  }
  
  #searchButton:active {
    background-color: #3e8e41;
  }
  
  .fa-car {
     font-size: 50px; /* Adjust the size as needed */
  }

